{% extends "base.html" %}
{%load static %}

{% block head_static%}
<script src="{% static 'js/mqttws31-min.js' %}"></script>
<script src="{% static 'js/mqttws31.js' %}"></script>
<script src="{% static 'js/mqtt-websocket.js' %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script>
</script>

{% endblock %}

{% block content %}
{% if user.level == '0' or user.level == '1' or user.level == '2' %}


        <h1>MQTT와 웹소켓 테스트</h1><br>
        <div id="data"></div>
        <form>
            <input type="button" value="led켜기" onclick="SendMsg('led_on')">
            <input type="button" value="led끄기" onclick="SendMsg('led_off')">
        </form><br>
          {%else%}
          <a>접근 권한 없음</a>
          {%endif%}
          
{% endblock %} 

{%block body_static%}
<script>

</script>
{%endblock%}