{%extends "base.html" %}

{% block content %}

<!--Start Dashboard Content-->
<div class="content-wrapper">
  <div class="container-fluid">

   <div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">
		
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <div style =" font-size:20px; text-align:center;">공용부&nbsp;&nbsp;필로티&nbsp;&nbsp;조명 <br> 무선&nbsp;&nbsp;제어&nbsp;&nbsp;시스템
                  </div>

                </div>
            </div>

            {% for manage in manages%}    
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <div style =" font-size:15px; ">
                    위치: {{manage.installationsite.sitenickname}} <br>
                    설치 개수: {{ manage.maintopic_count }}
                  </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <div style =" font-size:15px; text-align:center;">
                  <button class="btn btn-light btn-round px-5 mr-4" onclick="turnAllLedsOn()"> All LEDs On</button>
                  <button class="btn btn-light btn-round px-5" onclick="turnAllLedsOff()"> All LEDs Off</button>
                </div>
              </div>
          </div>

                
            <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <div class="row">
                  {% for topic in manage.topic.all|dictsort:'id' %}
                  <div class="col-4">

                    <div style =" font-size:15px; text-align:center;"> 
                    <h6 class="fw-bold mt-0 mb-0">
                      <label class="switch">
                      <input type="hidden" id="topic{{topic.id}}" name="topic" value="{{topic.maintopic}}/{{topic.subtopic}}">
                      <input type="hidden" id="message{{topic.id}}" name="message" value=""> 
                      <input type="checkbox" id="check{{topic.id}}" onclick="led({{topic.id}})">

                      <span class="slider round"></span>
                      </label>
                    </h6>
                    LED {{topic.id}}
                  </div> <br>
                  </div>
                  {% endfor %}
                </div>
              </div>
          </div>

            {% endfor %}


        </div>
    </div>
 </div>  
   
   
  </div>
 </div>
    <!--End Dashboard Content-->
  
<!--start overlay-->
    <div class="overlay toggle-menu"></div>
  <!--end overlay-->
  
  </div>
  <!-- End container-fluid-->
  
  </div>
  <script type="text/javascript" >

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function led(topicId) {
      var checkbox = document.querySelector('input[id="check' + topicId + '"]');

      var message = checkbox.checked ? "led_on" : "led_off";
  
      var topic = document.getElementById("topic" + topicId).value;
  
      document.getElementById("message" + topicId).value = message;
  
      var csrf_token = getCookie("csrftoken");
      
      $.ajax({
        type: "POST",
        url: "/mqtt/publish",
        data: {
          topic: topic,
          message: message
        },
        headers: {
          "X-CSRFToken": csrf_token
        },
      });
    }


    $(document).ready(function() {
      $.ajax({
        type: "POST",
        url: "/mqtt/status",
        data: {},
        headers: {
          "X-CSRFToken": getCookie("csrftoken")
        },
        success: function(response) {
          // Loop through each topic and update the corresponding checkbox state
        }
      });
    });

    function turnAllLedsOn() {
  const allCheckboxes = document.querySelectorAll('input[type="checkbox"]');
  allCheckboxes.forEach((checkbox) => {
    checkbox.checked = true;
    led(checkbox.id.replace("check", ""));
  });
}

function turnAllLedsOff() {
  const allCheckboxes = document.querySelectorAll('input[type="checkbox"]');
  allCheckboxes.forEach((checkbox) => {
    checkbox.checked = false;
    led(checkbox.id.replace("check", ""));
  });
}

  </script>
  
{% endblock %} 