
        {%extends "base.html" %}
        {%load static %}

        {% block content %}
        

        <section>
            <div
                class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
                id="hero-slider">
                <div
                    class="swiper-wrapper"
                    style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                    <div
                        class="swiper-slide hero bg-center bg-cover d-flex align-items-center "
                        style="background: url({% static 'img/banner.jpg' %}); height:880px;">

                        <div class="fixed-top" style="padding-top:100px">
                            <div class="row text-lg-center">
                                <div class="col-lg-12">
                                    <p class="h6 text-uppercase text-muted mb-3">CNDI & Piloti</p>
                                    <h1
                                        class="hero-heading line-height-sm mb-2 title"
                                        data-swiper-parallax="-200"
                                        style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                        <font color="#FFFFF"></font>
                                    </h1>
                                    <div class="row">
                                        <div class="col-lg-5 mx-auto">
                                            <p
                                                class="font-weight-light text-muted mb-4 mt-3 subtitle"
                                                data-swiper-parallax="-400"
                                                style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; font-size:25px">
                                                <font color="#FF3333"></font>
                                                <font color="#FFFFF"></font>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </section><br><br>
      
      
            <section class="pb-5">
                <div class="container p-5 bg-light">
                    <div class="row align-items-center">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <h3>
                                <span class="text-primary">ROHDE &amp; SCHWARZ
                                </span>
                                Contact Us</h3>
                            <p class="text-small text-muted mb-0">더욱 자세한 제품 상담을 원하시면 제품문의 버튼을 눌러 문의 페이지로 이동 해주세요.</p>
                        </div>
                        <div class="col-lg-5">
      
                            <div >
      
                                <button
                                    class="btn btn-primary btn-lg"
                                    type="button"
                                    onclick="location.href='/contact'"
                                    style="float:right; border-radius: 5px;">Contact Us</button>
                            </div>
      
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %} 
        