{%extends "base.html" %}

{% block content %}




<div class="content-wrapper">
  <div class="container-fluid">

<!--Start Dashboard Content-->

<div class="row">
   <div class="col-12 col-lg-8 col-xl-8">
    <div class="card">
   <div class="card-header" style =" font-size:20px; text-align:center;">공용부&nbsp;&nbsp;필로티&nbsp;&nbsp;조명 <br> 무선&nbsp;&nbsp;제어&nbsp;&nbsp;시스템
     
   </div>
   {% for manage in manages %}
    

   <div class="row m-0 row-group text-center border-top border-light-3">
     <div class="col-12 col-lg-12">
      <br>     
     
     <div class="col-12 col-lg-12">
       <div class="p-3">
        <h4 class="fw-bold">위치:{{manage.installationsite.sitenickname}}</h4>
        <h4 class="fw-bold">설치 갯수:{{ manage.maintopic_count }}</h4>
       </div>
     </div>

     {% for topic in manage.topic.all %}
  <h4 class="fw-bold">LED</h4>
											<h6 class="fw-bold mt-3 mb-0">
												<label class="switch">
                          <input type="hidden" id="topic{{topic.id}}" name="topic" value="{{topic.maintopic}}/{{topic.subtopic)">
                          <input type="hidden" id="message{{topic.id}}" name="message" value=""> 
													<input type="checkbox" onclick = "led({{topic.id}})">
													<span class="slider round"></span>
													
												</label>
												
											</h6>
    {% endfor %}
   {% endfor %}


     </div>
   </div>

  </div>
 </div>
    <!--End Dashboard Content-->
  
<!--start overlay-->
    <div class="overlay toggle-menu"></div>
  <!--end overlay-->
  
  </div>
  <!-- End container-fluid-->
  
  </div>

  <script>
    function led(topicId) {

      var checkbox = document.querySelector('input[type="checkbox"]');

      var message = checkbox.checked ? "led_on" : "led_off";
      
      var topic = document.getElementById("topic" + topicId).value;

      var message = document.getElementById("message" + topicId).value;

      var csrf_token = getCookie("csrftoken");
      
      $.ajax({
        type: "POST",
        url: "/mqtt/publish",
        data: {
          topic: topic,
          message: message
        },
        headers: {
          "X-CSRFToken": csrf_token
        },
      });
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

  </script>

{% endblock %} 