<hr>
<div class="row justify-content-md-center">
    <form class="form-inline" style="margin-bottom:-15px; margin-top:-10px;">
        <div class="md-form md-outline"><label for="input_auth_num">인증번호 입력 (<span id="timeset"></span>)</label>
            <input type="text" id="input_auth_num" class="form-control mx-sm-2" autofocus/>
        </div>
        </form>
        '+'
        <button type="submit" name="auth_confirm" id="id_auth_confirm" class="btn btn-light btn-block" style="opacity: 90%; height:30%; margin-top:10px; font-size: 12px;">
            <i class="fas fa-check">

            </i>&nbsp;&nbsp;인증확인</button>
        </div>